body {
  font-family: Arial;
  background: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  <!--https://www.w3schools.com/cssref/css3_pr_align-items.php, I used the align items feature to makes things inside a box line up in the middle from top to bottom.-->
  text-align: center;
  height: 100px;
  margin: 0;
  font-size: 20px;
}

h1 {
  margin-bottom: 30px;
}

.game-link {
  padding: 12px 24px;
  <!--https://developer.mozilla.org/en-US/docs/Web/CSS/padding, I used the padding property to make space inside the box with the link to make it look nicer. There is a little space up and down and bigger space right and left.-->
  margin: 10px;
  background: #878787;
  color: beige;
  border-radius: 4px; 
  width: 335px;
}

img {
width: 380px;  
height: auto;  
}
