body {
  text-align: center;
  padding-top: 50px;
  <!--https://www.w3schools.com/css/css_padding.asp, I used this feature to put extra space at the top to make it look nicer.-->
  background-color: orange;
  font-size: 35px;
}

input, button {
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid black;
  border-radius: 3px;
}

button {
  background-color: #4CAF50;
  color: white;
}

#resetBtn {
  background-color: skyblue;
  color: white;
}
