body {
  text-align: center;
  padding: 20px;
  background: yellow;
  font-size: 50px;
}

h1 {
  font-size: 35px;
  color: red;
  margin-bottom: 20px;
  <!--https://www.w3schools.com/cssref/pr_margin-bottom.php, I used the margin feature to make my directions appear in a better position on the screen. I also used the margin feature as well for my images down below to position them better-->
}

h2 {
  font-size: 20px;
  color: brown;
}

button {
  width: 260px;
  height: 60px;
  font-size: 8px;
  margin: 8px;
  cursor: pointer;
  background-color: pink;
}

button img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 5px;
}
